:local {
    .container {
        display: flex;
    }

    .left {
        justify-content: flex-start;
    }

    .center {
        justify-content: center;
    }

    .right {
        justify-content: flex-end;
    }

    .marginTop {
        margin-top: 50px;
    }
}